<h1 mat-dialog-title>Criar Novo Utilizador</h1>

<div class="create-container">

  <ng-container>
    <!-- New users details-->
    <form [formGroup]="createUserFormGroup">

      <!-- Primeiro Nome -->
      <mat-form-field>
        <mat-label>Primeiro Nome</mat-label>
          <input matInput [formControlName]="'first_name'">
          <mat-error *ngIf="createUserFormGroup.hasError('required')">
            Campo Obrigatório
          </mat-error>
      </mat-form-field>

      <!-- Último Nome -->
      <mat-form-field>
        <mat-label>Último Nome</mat-label>
          <input matInput [formControlName]="'last_name'">
          <mat-error *ngIf="createUserFormGroup.hasError('required')">
            Campo Obrigatório
          </mat-error>
      </mat-form-field>

      <!-- Telefone -->
      <mat-form-field>
        <mat-label>Telefone/Telemóvel</mat-label>
          <input matInput [formControlName]="'phone'">
          <mat-error *ngIf="createUserFormGroup.hasError('required')">
            Campo Obrigatório
          </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field>
        <mat-label>Email</mat-label>
          <input matInput [formControlName]="'email'">
          <mat-error *ngIf="createUserFormGroup.hasError('required')">
            Campo Obrigatório
          </mat-error>
      </mat-form-field>

      <!-- Profissão -->
      <mat-form-field>
        <mat-label>Profissão</mat-label>
          <input matInput [formControlName]="'rank'">
          <mat-error *ngIf="createUserFormGroup.hasError('required')">
            Campo Obrigatório
          </mat-error>
      </mat-form-field>

      <!-- Data de Entrada -->
      <mat-form-field>
        <mat-label>Data de Entrada</mat-label>
          <input matInput [matDatepicker]="picker" [formControlName]="'entry_date'">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="createUserFormGroup.hasError('required')">
            Campo Obrigatório
          </mat-error>
      </mat-form-field>

      <!-- Idade -->
      <mat-form-field>
        <mat-label>Idade</mat-label>
        <input matInput [formControlName]="'age'">
      </mat-form-field>

      <!-- Sexo -->
      <mat-form-field>
        <mat-label>Sexo</mat-label>
        <mat-select
          [formControlName]="'gender'"
          matInput
        >
          <mat-option value="feminino">Feminino</mat-option>
          <mat-option value="masculino">Masculino</mat-option>
          <mat-option value="outro">Outro</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </ng-container>


  <mat-dialog-actions class="actions action-files-container buttons-at-right">
    <button class="button-access m-1-20"
            mat-button
            [disabled]="!createUserFormGroup.valid"
            (click)="createUser()">
      Confirmar
    </button>

    <button class="button-cancel m-1-20"
            mat-button [mat-dialog-close]="false">
      Cancelar
    </button>
  </mat-dialog-actions>
</div>
