<div>

  <!-- Create User Button -->
  <ng-container>
  <div class="back-page-button">
    <button class="button-access"
            mat-button
            (click)="createNewUser()">
      Criar Novo Utilizador
    </button>

    <div>
      <input type="file"
             (change)="onChange($event)"
             accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,.xlsx">

      <button (click)="onUpload()"
              class="btn btn-success">
        Upload
      </button>
    </div>
  </div>
  </ng-container>

<br>

  <mat-card class="app-tile">
    <mat-card-title class="app-card-title">
      Lista de Users
      <hr>
    </mat-card-title>

    <!-- Table -->
    <div>
      <table mat-table [dataSource]="users" matSort>

        <!-- Primeiro Nome do utilizador-->
        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Primeiro Nome</th>
          <td mat-cell *matCellDef="let user"> {{user.first_name}} </td>
        </ng-container>

        <!-- Último Nome do utilizador-->
        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Último Nome</th>
          <td mat-cell *matCellDef="let user"> {{user.last_name}} </td>
        </ng-container>

        <!-- User phone-->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</th>
          <td mat-cell *matCellDef="let user"> {{user.phone | phone: 'PT'}} </td>
        </ng-container>

        <!-- Profissão do user-->
        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Profissão</th>
          <td mat-cell *matCellDef="let user"> {{user.rank}} </td>
        </ng-container>

        <!-- Idade-->
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Idade</th>
          <td mat-cell *matCellDef="let user"> {{user.age}} </td>
        </ng-container>

        <!-- Sexo-->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sexo</th>
          <td mat-cell *matCellDef="let user"> {{user.gender}} </td>
        </ng-container>

        <!-- Data de entrada na empresa-->
        <ng-container matColumnDef="entry_date">
          <th mat-header-cell *matHeaderCellDef>Data de entrada</th>
          <td mat-cell *matCellDef="let user"> {{user.entry_date | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Email do utilizador-->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>

        <!--Ver Detailes-->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef>Ver Details</th>
          <td mat-cell *matCellDef="let user">
            <button class=" mat-button-small"
                    mat-button
                    (click)="seeUserInfo(user)"
            >
              <mat-icon>person</mat-icon>
            </button>
          </td>
        </ng-container>

        <!--Editar user-->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Editar Dados</th>
          <td mat-cell *matCellDef="let user">
            <button class="button-edit mat-button-small"
                    mat-button
                    (click)="updateUserInfo(user)"
                    >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Remover User-->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Apagar Utilizador</th>
          <td mat-cell *matCellDef="let user">
            <button class="button-remove mat-button-small"
                    mat-button
                    (click)="deleteUser(user)">
              <mat-icon>person_remove</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
    </div>

  </mat-card>

  <ng-container>
    <div class="back-page-button">
      <button class="button-access"
              mat-button
              (click)="backToHomePage()">
        Voltar à HomePage
      </button>
    </div>
  </ng-container>
