
table {
  width: 100%;
}

.app-tile {
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-bottom: 10px !important;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15) !important;
  background: white;
}

.app-card-title {
  font-weight: bold !important;
  margin-bottom: 0px !important;;
  margin-top: 0px !important;;
  font-size: 15px !important;
  display: block !important;;
  color: black !important;;
  font-family: Open Sans, sans-serif !important;;
}


//buttons

.back-page-button {
  padding-top: 30px !important;
  padding-right: 200px !important;
  margin-bottom: 10px !important;
  margin-left: 15px !important;
}

.buttons-at-right {
  float: right;
}

.button-remove {
  background-color: red !important;
  color: white !important;
}

.button-edit {
  background-color: blue !important;
  color: white !important;
}

.mat-button-small {
  min-width: 1%;
}

.button-cancel {
  background-color: white !important;
  color: dodgerblue !important;
}

.button-access {
  background-color: dodgerblue !important;
  color: white !important;
  height: 65%;
  margin-bottom: 10px !important;
  margin-left: 15px !important;
}

//containers
.create-container {
  margin-left: 8px;
}

.mat-form-field {
  margin-right: 8px;
  margin-bottom: 10px !important;
  margin-left: 15px !important;
  width: 20%;
}

//dropdown

.container {
  width: 60%;
  margin:30px;
}

.select-container {
  padding: 20px;
  position: relative;
}
