<h1 mat-dialog-title>Criar Novo Projecto</h1>

<div class="create-container">

  <ng-container>
    <!-- Novos projectos details-->
    <form [formGroup]="createProjectFormGroup">

      <!-- Nome do Projecto -->
      <mat-form-field>
        <mat-label>Nome do Projecto</mat-label>
        <input matInput [formControlName]="'name'">
        <mat-error *ngIf="createProjectFormGroup.hasError('required')">
          Campo Obrigatório
        </mat-error>
      </mat-form-field>

      <!-- Data de Início -->
      <mat-form-field>
        <mat-label>Data de Início</mat-label>
        <input matInput [matDatepicker]="picker1" [formControlName]="'start_date'">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="createProjectFormGroup.hasError('required')">
          Campo Obrigatório
        </mat-error>
      </mat-form-field>

      <!-- Data de Fim -->
      <mat-form-field>
        <mat-label>Data de Fim</mat-label>
        <input matInput [matDatepicker]="picker2" [formControlName]="'end_date'">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="createProjectFormGroup.hasError('required')">
          Campo Obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status do Projecto</mat-label>
        <mat-select
          [formControlName]="'status'"
          matInput
        >
          <mat-option value="true">Activo</mat-option>
          <mat-option value="false">Inactivo</mat-option>
        </mat-select>
        <mat-error *ngIf="createProjectFormGroup.hasError('required')">
          Campo Obrigatório
        </mat-error>
      </mat-form-field>

    </form>
  </ng-container>


  <mat-dialog-actions class="actions action-files-container buttons-at-right">
    <button class="button-access m-1-20"
            mat-button
            [disabled]="!createProjectFormGroup.valid"
            (click)="createProject()">
      Confirmar
    </button>

    <button class="button-cancel m-1-20"
            mat-button [mat-dialog-close]="false">
      Cancelar
    </button>
  </mat-dialog-actions>

</div>
