<h1 mat-dialog-title>Editar Projecto</h1>

<div class="create-container">

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <!-- Nome do Projecto -->
    <mat-form-field class="parent-form-field">
      <input #name id="name"
             matInput
             placeholder="Nome do Projecto"
             [formControlName]="'name'"
             required
      >
    </mat-form-field>

    <!-- Data de Início do projecto -->
    <mat-form-field class="parent-form-field" style="padding-right: 10px">
      <input #start_date id="start_date"
             style="color: #00000f"
             matInput
             [matDatepicker]="start_date_picker"
             placeholder="Data de Início do Projecto"
             [formControlName]="'start_date'"
      >
      <mat-datepicker-toggle matSuffix [for]="start_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #start_date_picker ></mat-datepicker>
    </mat-form-field>

    <!-- Data de fim do projecto -->
    <mat-form-field class="parent-form-field" style="padding-right: 10px">
      <input #end_date id="end_date"
             style="color: #00000f"
             matInput
             [matDatepicker]="end_date_picker"
             placeholder="Data de Fim do Projecto"
             [formControlName]="'end_date'"
      >
      <mat-datepicker-toggle matSuffix [for]="end_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #end_date_picker ></mat-datepicker>
    </mat-form-field>

    <!-- Status -->
    <mat-form-field class="parent-form-field">
      <input #status id="status"
             matInput
             placeholder="Status"
             [formControlName]="'status'"
             required
      >
    </mat-form-field>

    <div>
      <mat-dialog-actions class="actions action-files-container">
        <button class="button-access m-1-20"
                mat-button>
          Update
        </button>

        <button class="button-cancel m-1-20"
                mat-button
                (click)="cancel()">
          Cancelar
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</div>

