<h1 mat-dialog-title>Editar Utilizador</h1>

<div class="create-container">

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <!-- Primeiro Nome -->
    <mat-form-field class="parent-form-field">
      <input #first_name id="first_name"
             matInput
             placeholder="Primeiro Nome"
             [formControlName]="'first_name'"
             required
      >
    </mat-form-field>

    <!-- Último Nome -->
    <mat-form-field class="parent-form-field">
      <input #last_name id="last_name"
             matInput
             placeholder="Último Nome"
             [formControlName]="'last_name'"
             required
      >
    </mat-form-field>

    <!-- Telefone -->
    <mat-form-field class="parent-form-field">
      <input #phone id="phone"
             matInput
             placeholder="Telefone"
             [formControlName]="'phone'"
             required
      >
    </mat-form-field>

    <!-- Email -->
    <mat-form-field class="parent-form-field">
      <input #email id="email"
             matInput
             placeholder="Email"
             [formControlName]="'email'"
             required
      >
    </mat-form-field>

    <!-- Profissão -->
    <mat-form-field class="parent-form-field">
      <input #rank id="rank"
             matInput
             placeholder="Profissão"
             [formControlName]="'rank'"
             required
      >
    </mat-form-field>

    <!-- Idade-->
    <mat-form-field class="parent-form-field">
      <input #age id="age"
             matInput
             placeholder="Idade"
             [formControlName]="'age'">
    </mat-form-field>

    <!-- Sexo -->
    <mat-form-field class="parent-form-field">
      <input #gender id="gender"
             matInput
             placeholder="Sexo"
             [formControlName]="'gender'"
      >
    </mat-form-field>


    <!-- Data de entrada -->
    <mat-form-field class="parent-form-field" style="padding-right: 10px">
      <input #entry_date id="entry_date"
             style="color: #00000f"
             matInput
             [matDatepicker]="entry_date_picker"
             placeholder="Data de entrada"
             [formControlName]="'entry_date'"
      >
      <mat-datepicker-toggle matSuffix [for]="entry_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #entry_date_picker ></mat-datepicker>
    </mat-form-field>

    <div>
      <mat-dialog-actions class="actions action-files-container">
        <button class="button-access m-1-20"
                mat-button
        >
          Update
        </button>

        <button class="button-cancel m-1-20"
                mat-button
                (click)="cancel()"
        >
          Cancelar
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</div>

