<div>

  <!-- Create Project Button -->
  <ng-container>
    <div class="back-page-button">
      <button class="button-access"
              mat-button
              (click)="createProject()">
        Criar Novo Projecto
      </button>
    </div>
  </ng-container>

<mat-card class="app-tile">
  <mat-card-title class="app-card-title">
    Lista de Projectos
    <hr>
  </mat-card-title>

  <!-- Table -->
  <div>
    <table mat-table [dataSource]="projects" matSort>

      <!-- Nome do Projecto -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome do Projecto</th>
        <td mat-cell *matCellDef="let project"> {{project.name}} </td>
      </ng-container>

      <!-- Data de inicio-->
      <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data de Início</th>
        <td mat-cell *matCellDef="let project"> {{project.start_date  | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Data de fim -->
      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data de Fim</th>
        <td mat-cell *matCellDef="let project"> {{project.end_date  | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Status do projecto -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let project"> {{true == project.status ? 'Activo' : 'Inactivo' }} </td>
      </ng-container>

      <!-- Ver details-->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Ver Details</th>
        <td mat-cell *matCellDef="let project">
          <button class=" mat-button-small"
                  mat-button
          >
            <mat-icon>input</mat-icon>
          </button>
        </td>
      </ng-container>

      <!--Editar project-->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Editar Dados</th>
        <td mat-cell *matCellDef="let project">
          <button class="button-edit mat-button-small"
                  mat-button
                  (click)="updateProjectInfo(project)">
            <mat-icon>upgrade</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Remover Project-->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Apagar Projecto</th>
        <td mat-cell *matCellDef="let project">
          <button class="button-remove mat-button-small"
                  mat-button
                  (click)="deleteProject(project)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>

</mat-card>

<ng-container>
  <div class="back-page-button">
    <button class="button-access"
            mat-button
            (click)="backToHomePage()">
      Voltar à HomePage
    </button>
  </div>
</ng-container>

</div>
