<h1 mat-dialog-title>Criar Tecnologia</h1>

<div class="create-container">

  <ng-container>
    <!-- New users details-->
    <form [formGroup]="createTechnologyForm">

      <!-- Tecnologia -->
      <mat-form-field>
        <mat-label>Tecnologia</mat-label>
        <input matInput [formControlName]="'name'">
        <mat-error *ngIf="createTechnologyForm.hasError('required')">
          Campo Obrigatório
        </mat-error>
      </mat-form-field>
    </form>
  </ng-container>


  <mat-dialog-actions class="actions action-files-container buttons-at-right">
    <button class="button-access m-1-20"
            mat-button
            [disabled]="!createTechnologyForm.valid"
            (click)="createTechnology()">
      Confirmar
    </button>

    <button class="button-cancel m-1-20"
            mat-button [mat-dialog-close]="false">
      Cancelar
    </button>
  </mat-dialog-actions>

</div>
