.homepage-buttons {
  padding-top: 30px !important;
  padding-right: 200px !important;
  margin-bottom: 10px !important;
  margin-left: 15px !important;
}

.homepage-buttons-access {
  background-color: dodgerblue !important;
  color: white !important;
  height: 65%;
  margin-bottom: 10px !important;
  margin-left: 15px !important;
}

.login-button {
  background-color: darkorchid !important;
  color: white !important;
  height: 65%;
  margin-bottom: 10px !important;
  margin-left: 15px !important;
}

.excel-buttons {
  background-color: goldenrod !important;
  color: white !important;
  height: 65%;
  margin-bottom: 10px !important;
  margin-left: 15px !important;
}

.text-center {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.chart-div {
  display: inline-block;
  margin: 0 auto !important;
}
