<div class="homepage-buttons">
  <button class="homepage-buttons-access"
          mat-button
          (click)="userInfo()">
    Utilizadores
  </button>

  <button class="homepage-buttons-access"
          mat-button
          (click)="projectInfo()">
    Projectos
  </button>

  <button class="homepage-buttons-access"
          mat-button
          (click)="technologyInfo()">
    Tecnologias
  </button>

  <button class="excel-buttons"
          mat-button
          (click)="generateOutput()">
    Gerar Output
  </button>

  <button class="excel-buttons"
          mat-button
          (click)="downloadOutput()">
    Download Output
  </button>

  <button class="login-button"
          mat-button
          (click)="backToLogin()">
    Voltar ao Login
  </button>


  <br><br>
  <mat-divider></mat-divider>
  <br><br>
  <div class="text-center" *ngIf="!!isLoadingResults">
    <h2>{{title}}</h2>

    <br><br><br>
    <div class="chart-div">
      <h4>{{genderTitle}}</h4>
      <ng-container *ngIf="!!genderData">
      <google-chart [data]="genderData"
                    [options]="dashboardData.genderPieChartOptions"
                    [type]="chartsTypes.PieChart"
                    [dynamicResize]="true">
      </google-chart >
      </ng-container>
    </div>
    <br><br>
    <div>
      <h4>{{totalsTitle}}</h4>
    <br>
      <google-chart *ngIf="!!totalsData"
                    [type]="chartsTypes.ColumnChart"
                    [columns]="totalsData.columns"
                    [data]="totalsData"
                    [options]="totalsChart.options"
                    [dynamicResize]="true">
      </google-chart>
    </div>
    <br><br>
    <div>
      <h4>{{entiesByMonthTitle}}</h4>
      <br>
      <ng-container *ngIf="!!totalEntries">
        <google-chart [type]="chartsTypes.ColumnChart"
                      [columns]="totalEntries.columns"
                      [data]="totalEntries"
                      [options]="totalEntriesChart.options"
                      [dynamicResize]="true"
        >
        </google-chart>
      </ng-container>
    </div>
  </div>
</div>
