
.section {
  width: 100%;
  height: 100%;
  background-image: url("./../../../assets/scss/lake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: table;
  top: 0;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.content {
  width: 26vw;
  height:62vh;
  margin: auto;
  border-radius: 1%;
  display: table;
}

.user {
  display: table-cell;
  margin-left: 3.5vw;
  margin-top: 6vh;
  padding: 1% 1% 1% 10%;
  background: url("./../../../assets/scss/Sample_User_Icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 20px;
  font-family: 'Pacifico';
  border: 0px;
  border-bottom: 1px solid white;
}

.password {
  display: table-cell;
  margin-left: 3.5vw;
  margin-top: 6vh;
  padding: 1% 1% 1% 10%;
  background: url("./../../../assets/scss/Sample_User_Icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 20px;
  font-family: 'Pacifico';
  border: 0px;
  border-bottom: 1px solid white;
}


.user[placeholder] {
  padding-left: 23%;
  font-family: 'Lobster';
  font-size: 1.9vw;
}

.password[placeholder] {
  padding-left: 23%;
  font-family: 'Lobster';
  font-size: 1.9vw;
}

button {
  display: table-cell;
  margin-left: 3.5vw;
  margin-top: 6vh;
  padding: 1% 1% 1% 1%;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 20px;
  font-family: 'Pacifico';
  border: 0px;
  border-bottom: 1px solid white;
}
