<div class="section">
  <div class="inner">
    <div class="content">
      <input class="user" type="text" placeholder="Username" required="required" name="username" [(ngModel)]="username">
      <input class="password" type="password" placeholder="Password" required="required" name="password" [(ngModel)]="password">
      <button type="submit" class="btn btn-secondary btn-block btn-lg" (click)="login()">Log in</button>
    </div>
  </div>
</div>
