<div>
  <div class="container">
    <div class="select-container">
      <p>
        Seleccione um Projecto
      </p>
      <select [(ngModel)]="selectedProject" (ngModelChange)="onProjectSelected($event)">
        <option *ngFor="let project of projectList" [value]="project.id">{{project.name}}</option>
      </select>
    </div>
    <div class="user-info-buttons">
      <input type="file"
             (change)="onChange($event)"
             accept=".pdf,application/pdf,.jpeg,.jpg,.png,image/png">
      <button class="user-info-buttons-access"
              mat-button
              (click)="onUpload()">
        Upload
      </button>
      <button class="user-info-buttons-access"
              mat-button
              (click)="downloadPdf()">
        <mat-icon>download</mat-icon>
      </button>

      <button class="user-info-buttons-access"
              mat-button
              >
        <mat-icon>auto_delete</mat-icon>
      </button>
  </div>
</div>

<mat-card class="app-tile">
  <mat-card-title class="app-card-title">
    Lista de Projectos do Utilizador
    <hr>
  </mat-card-title>

  <!-- Table -->
  <div *ngIf="!!userProjects">
    <table mat-table [dataSource]="userProjects" matSort>

      <!-- Nome do Projecto-->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome do Projecto</th>
        <td mat-cell *matCellDef="let project"> {{project.name}} </td>
      </ng-container>

      <!-- Data de inicio-->
      <ng-container matColumnDef="start_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data de Início</th>
        <td mat-cell *matCellDef="let project"> {{project.start_date  | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Data de fim -->
      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data de Fim</th>
        <td mat-cell *matCellDef="let project"> {{project.end_date  | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Status do projecto -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let project"> {{true == project.status ? 'Activo' : 'Inactivo' }} </td>
      </ng-container>

      <!-- Data de Criação-->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef>Data de Criação</th>
        <td mat-cell *matCellDef="let project"> {{project.created_at | date: 'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Remover Project-->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Apagar Projecto</th>
        <td mat-cell *matCellDef="let project">
          <button class="button-remove mat-button-small"
                  mat-button
                  (click)="deleteProjectFromUser(project)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>

</mat-card>


<div class="user-info-buttons">
  <button class="user-info-buttons-access"
          mat-button
          (click)="backToUsersPage()">
    Utilizadores
  </button>

  <button class="user-info-buttons-access"
          mat-button
          (click)="goToProjects()">
    Projectos
  </button>
</div>
</div>


