@import "src/assets/scss/pages";


.user-info-buttons {
  padding-top: 30px !important;
  padding-right: 200px !important;
  margin-bottom: 10px !important;
  margin-left: 20px !important;
}

.user-info-buttons-access {
  background-color: darksalmon !important;
  color: white !important;
  height: 65%;
  margin-bottom: 10px !important;
  margin-left: 20px !important;
}

