<h1 mat-dialog-title>Editar Tecnologia</h1>

<div class="create-container">

  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">

    <!-- Nome -->
    <mat-form-field class="parent-form-field">
      <input #name id="name"
             matInput
             placeholder="Tecnologia"
             [formControlName]="'name'"
             required
      >
    </mat-form-field>

    <div>
      <mat-dialog-actions class="actions action-files-container">
        <button class="button-access m-1-20"
                mat-button>
          Update
        </button>

        <button class="button-cancel m-1-20"
                mat-button
                (click)="cancel()">
          Cancelar
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</div>

