html {
  body {
    .m-l-15 {
      margin-left: 15px;
    }

    .m-l-20 {
      margin-left: 20px;
    }
  }
}

.button-to-center {
  float: left;
  position: relative;
  left: 43%;
}

.button-dt-danger {
  background-color: red !important;
  color: white !important;
}

.button-dt-primary {
  background-color: forestgreen !important;
  color: white !important;
}
