<div mat-dialog-content>
  <h4>{{data.message}}</h4>
</div>

<div mat-dialog-actions class="button-to-center">
  <button mat-button (click)="closeDialog()"
          [mat-dialog-close]=false
          class="button-dt-danger">
    Não
  </button>

  <button mat-button
          [mat-dialog-close]=true
          class="button-dt-primary m-l-20">
    Sim
  </button>
</div>
