<div>

  <!-- Create Technology Button -->
  <ng-container>
    <div class="back-page-button">
      <button class="button-access"
              mat-button
              (click)="createTechnology()">
        Criar Tecnologia
      </button>
    </div>
  </ng-container>

  <mat-card class="app-tile">
    <mat-card-title class="app-card-title">
      Lista de Tecnologias
      <hr>
    </mat-card-title>

    <div>
  <table mat-table [dataSource]="technologies">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Tecnologia</th>
      <td mat-cell *matCellDef="let technology"> {{technology.name}} </td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef>Data de Criação</th>
      <td mat-cell *matCellDef="let technology"> {{technology.created_at |  date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Ver details-->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Ver Details</th>
      <td mat-cell *matCellDef="let technology">
        <button class=" mat-button-small"
                mat-button
        >
          <mat-icon>input</mat-icon>
        </button>
      </td>
    </ng-container>

    <!--Editar Technology-->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar Dados</th>
      <td mat-cell *matCellDef="let technology">
        <button class="button-edit mat-button-small"
                mat-button
               (click)="updateTechnologyName(technology)">
          <mat-icon>unarchive</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Remover Technology-->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Apagar</th>
      <td mat-cell *matCellDef="let technology">
        <button class="button-remove mat-button-small"
                mat-button
                (click)="deleteTechnology(technology)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>
</div>



<ng-container>
  <div class="back-page-button">
    <button class="button-access"
            mat-button
            (click)="backToHomePage()">
      Voltar à HomePage
    </button>
  </div>
</ng-container>
